/* Reset */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

body {
    background-color: #0f0f0f;
    color: #fff;
}

section {
    max-width: 991px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 15px;
    box-sizing: border-box;
}

/* Using flex-box for row/columns logic */
.flex {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 12px;
}

.flex-item {
    flex-grow: 1;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .flex.break-phone {
        flex-direction: column;
    }
}

/* Each field line */
.line {
    display: block;
    margin-bottom: 12px;
}

/* HTML Form elements */
textarea,
input,
select {
    display: block;
    padding: 8px 4px;
    border: none;
    border-radius: 4px;
    resize: none;
    height: 48px;
    width: 100%;
    background-color: #cbb1ce;
    color: #000;
    box-sizing: border-box;
}

textarea {
    height: 480px;
    white-space: pre;
    font-family: sans-serif;
}

textarea:focus,
input:focus {
    outline-color: #895293;
}

button {
    display: inline-block;
    width: 100%;
    border: none;
    background-color: rgb(205, 173, 230);
    border-radius: 8px;
    height: 48px;
    color: #000;
}

button:hover {
    background-color: rgb(203, 143, 248);
}

/* Output box */
#translation-output {
    background-color: #5d575f;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 16px;
    white-space: pre;
    font-family: sans-serif;
}